openapi: 3.0.0
info:
  version: "2.1"
  title: Metacoin API
  termsOfService: "http://metacoin.network/terms/"
  description: |
    This document is contain Metacoin API reference.

    ## Errorcodes:
      | ErrorCode | Error description |
      |-----------|-------------------|
      | 1001 | Name is empty |
      | 1002 | Symbol is empty |
      | 1003 | The decimal number must be bigger then 0 |
      | 1004 | The decimal number must be less than 18 |
      | 1101 | Amount must be an integer string |
      | 1102 | Invalid unlock date |
      | 1103 | Price must be an integer string |
      | 1104 | Price must be greater then zero |
      | 1105 | Qtt must be an integer string |
      | 1106 | Qtt must be greater then zero |
      | 1201 | The TargetToken is the same as the BaseToken |
      | 1202 | Amount must be greater then zero |
      | 1203 | Price precision is too long |
      | 1204 | Qtt precision is too long |
      | 1205 | Side must SELL or BUY |
      | 1206 | The amount must be an integer |
      | 1300 | Owner pending balance remain error - remain `currentamount`, need `enoughtamount` |
      | 2010 | Invalid signature |
      | 2110 | PublicKey format error |
      | 2210 | PublicKey type error |
      | 2220 | Invalid public key curve |
      | 2230 | Signature format error |
      | 2310 | Publickey decode error |
      | 3000 | Token reserve address `reserveInfo.Address` not found |
      | 3001 | Invalid from address |
      | 3002 | Invalid to address |
      | 3003 | Invalid from fee address |
      | 3004 | Invalid to fee address |
      | 3005 | `walletID` is already exists |
      | 3090 | Can not find the address `key` |
      | 3102 | Invalid public key curve size |
      | 3103 | Public key decode error |
      | 3104 | Public key format error |
      | 3105 | Public key parsing error |
      | 3106 | Public key type error |
      | 3190 | Address `key` is in the wrong format |
      | 3201 | From address and to address must be different values |
      | 3202 | From token and to token must be different values |
      | 3209 | Invalid address data format |
      | 3290 | Address `key` is in the wrong data |
      | 4001 | Token `TokenID` not exists |
      | 4002 | Token id missing |
      | 4101 | Invalid Price format, Price must numeric only |
      | 4102 | Invalid Qtt format, Qtt must numeric only. |
      | 4103 | Invalid item data |
      | 4104 | Invalid toekn SN |
      | 4105 | Invalid token Data format |
      | 4200 | Invalid Data format |
      | 4201 | Base token are in the target token list |
      | 4202 | Could not find target token in the target token list |
      | 4203 | Item is already canceled |
      | 4204 | Invalid token data format |
      | 4205 | Target token are in the target token list |
      | 4206 | Is not your MRC040 ITEM |
      | 4207 | Exchange item not found |
      | 4208 | Invalid exchange item data |
      | 4900 | No data change |
      | 5000 | Not enough balace |
      | 5001 | The balance of fromuser is insufficient |
      | 5002 | The balance of touser is insufficient |
      | 5100 | Owner pending balance error |
      | 6000 | Exchange result item is already exists |
      | 6002 | ExchangeItem not found |
      | 6003 | MRC020 already exists |
      | 6004 | MRC020 data not exist |
      | 6005 | MRC040 data not exist |
      | 6100 | MRC040 `exchangeItemPK` is already exists |
      | 6102 | invalid MRC020 data address |
      | 6103 | invalid MRC040 data address |
      | 6204 | Invalid MTC020 Data format |
      | 6205 | MRC020 `mrc020Key` is in the wrong data |
      | 6206 | MRC040 `mrc040Key` is in the wrong data |
      | 6300 | already complete item |
      | 6501 | Base token is not allow exchange to target token |
      | 6502 | Exchange token is not allow exchange to base token |
      | 6600 | Exchange item side is invalid |
      | 8100 | Hyperledger internal error |
      | 8600 | Hyperledger internal error |
      | 9900 | Data `value` is not integer |

      * `VALUE NAME` is changed value.

    ## Description of transaction:
      Meaning of parameters by type
      1. Chaincode Install or Update
        - Chaincode upgrade

      2. DataMigration
        - Hyperledger Data format or value fix

      3. MRC020
        - Delayed open

      4. NewWallet
        - Create new address

      5. SetBase
        - Set base token for MRC040 protocol
          1. base token id
          2. target token id

      6. exchange, exchangePair, exchangeFee, exchangeFeePair
        - token exchange
          1. from address
          2. Amount `from address` sent to `to address`
          3. Token id `from address` sent to `to address`
          4. Address receiving fee of from address
          5. Fee paid by from address
          6. Token ID of fee paid by from address
          7. from address's tag
          8. from address's memo
          9. from address's signature
          10. from address
          11. Amount `from address` sent to `to address`
          12. Token id `from address` sent to `to address`
          13. Address receiving fee of to address
          14. Fee paid by to address
          15. Token ID of fee paid by to address
          16. to address's tag
          17. to address's memo
          18. to address's signature

      7. tokenUpdate
        - token update
          1. token id
          2. url
          3. info
          4. image
          5. signature

      8. ownerBurning, tokenBurning
        - token burning
          1. token id
          2. Burning amount
          3. Signature

      9. ownerIncrease, tokenIncrease
        - token increase
          1. token id
          2. Increase amount
          3. Signature

      1. tokenRegister
        - same as token create.

      1. token_reserve
        - token receive at token create
          1. token sender(token owner)
          2. receive address
          3. receive amount
          4. token id

      1. transfer, receive
        - token transfer
          1. from address
          2. to address
          3. amount
          4. token id
          5. signature
          6. unlock date
          7. tag
          8. memo

      1. stodexExchange, stodexExchangePending, stodexExchangeRequest, stodexRegister, stodexRequest, stodexUnRegister
        - for MRC040
        - sorry, not yet fixed

tags:
  - name: Address
    description: Metacoin Address and balance
  - name: Balance
    description: Get Metacoin or Token Balance
  - name: Block
    description: Block information
  - name: Transfer
    description: Metacoin or Token transfer
  - name: Token
    description: |
      - Token information
      - The creation of tokens proceeds as follows.
      - Save token information by calling /token
      - Generate tokens by calling /token/{tkey}
  - name: MRC400
    description: |
      ## NFT(Non-fungible token) common information
      - Contains common information of NFT items(MRC401).
  - name: MRC401
    description: |
      ## NFT(Non-fungible token)
      - For common information, refer to MRC400.
      - Refer to MRC400 for creator, information URL, image URL, etc. used in DApp.
      - Each item is displayed separately and managed independently.
      - Suitable for use as game items, coupons, tickets, etc. that are similar but must be treated uniquely.
  - name: MRC402
    description: |
      ## NFT(Non-fungible token)
      - It is a quantity-based NFT.
      - It is suitable for splitting the rights of a single asset.
      - It supports complex assets and is suitable for use in the form of bonds.
servers:
  - url: "https://rest.metacoin.network:20923"
    description: Mainnet public node
  - url: "http://testnetrest.metacoin.network:20922"
    description: TESTnet API endpoint
  - url: "https://testnetrest.metacoin.network:20923"
    description: TESTnet API endpoint - HTTPS
paths:
  /mrc400:
    post:
      tags:
        - MRC400
      summary: Create MRC400 token
      description: |
        - It stores the common information of MRC401 Token.
        - MRC401 Token You can specify the token to be used for sale and auction.
        - It stores information about the creator of MRC401 Token.
        - If there is no ImageURL or URL of MRC401 Token, the information of MRC400 is used.
      parameters:
        - name: owner
          in: query
          example: MTATLnT6SGKE8RU0CBPoDRfUXL5lr4SLece1a6ee
          schema:
            type: string
            format: Metacoin Address
            minLength: 40
            maxLength: 40
          description: MRC400 Owner
          required: true
        - name: name
          in: query
          example: Meta-RPG
          description: |
            - MRC400 Name
            - **This value is does not have any effect on Metacoin or Metacoin-based blockchain**
          schema:
            type: string
            minLength: 1
            maxLength: 128
          required: true
        - name: url
          in: query
          description: |
            - MRC400 Project URL
            - **This value is does not have any effect on Metacoin or Metacoin-based blockchain**
          example: https://mrc400-project.com/
          schema:
            type: string
            minLength: 1
            maxLength: 255
          required: true
        - name: imageurl
          in: query
          description: |
            - MRC400 Project Image URL
            - **This value is does not have any effect on Metacoin or Metacoin-based blockchain**
          example: https://mrc400-project.com/images/project.png
          schema:
            type: string
            minLength: 1
            maxLength: 255
          required: true
        - name: allowtoken
          in: query
          description: |
            - Only designated tokens and Metacoin (Token ID: 0) can be used for MRC401 token auctions and sales under this MRC400 token
            - If not specified, set to "0"
          example: "0"
          schema:
            type: string
            format: int
            minLength: 1
            maxLength: 16
          required: true
        - name: category
          in: query
          description: |
            - This value refers to the classification in which the MRC400 token is used.  It does not affect Metacoin or Metacoin-based blockchains.
            - **This value is does not have any effect on Metacoin or Metacoin-based blockchain**
          example: "Baseball Card"
          schema:
            type: string
            format: int
            minLength: 1
            maxLength: 64
          required: true
        - name: description
          in: query
          description: |
            - Set the field where MRC401 Token is used
            - This value is a description of the MRC400 Token and does not have any effect on Metacoin or Metacoin-based blockchain.
            - **This value is does not have any effect on Metacoin or Metacoin-based blockchain**
          example: "Metacoin NFT base RPG Game"
          schema:
            type: string
            format: int
            minLength: 1
            maxLength: 4096
          required: true

        - name: itemurl
          in: query
          description: |
            - Specify the URL of JSON Data that stores detailed data of MRC401 token.
            - If the `url` value of MRC401 Token is an empty string, this value is used.
            - The URI value allows for ID substitution by clients. If the string {id} exists in any URI, clients MUST replace this with the actual token ID in hexadecimal form. This allows for a large number of tokens to use the same on-chain string by defining a URI once, for that large number of tokens.
            - This value is the URL of a JSON file that stores data that can be referenced by an application using MRC401 Token
            - **This value is does not have any effect on Metacoin or Metacoin-based blockchain**
          example: "https://mrc400-project.com/info/{id}"
          schema:
            type: string
            format: int
            minLength: 1
            maxLength: 255
          required: true

        - name: itemimageurl
          in: query
          description: |
            - Specify the image URL of the MRC401 token.
            - If the `imageurl` value of MRC401 Token is an empty string, this value is used.
            - The URI value allows for ID substitution by clients. If the string {id} exists in any URI, clients MUST replace this with the actual token ID in hexadecimal form. This allows for a large number of tokens to use the same on-chain string by defining a URI once, for that large number of tokens.
            - This value is the URL of the image to be used when displaying MRC401 Token in an application that uses MRC401 Token
            - **This value is does not have any effect on Metacoin or Metacoin-based blockchain**
          example: "https://mrc400-project.com/info/{id}"
          schema:
            type: string
            format: int
            minLength: 1
            maxLength: 255
          required: true

        - name: data
          in: query
          description: |
            - MRC400 detail info
            - Should be json string
            - **This value is does not have any effect on Metacoin or Metacoin-based blockchain**
          schema:
            type: string
            format: int
            minLength: 1
            maxLength: 4096
          required: true
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat owner, name, url, imageurl, category, itemurl, itemimageurl, data, tkey
            - ex) ecdsa_sign(privatekey of owner address, owner +'|'+ name +'|'+ url +'|'+ imageurl+'|'+category+'|'+itemurl+'|'+itemimageurl+'|'+data+'|'+tkey)

      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: string
                description: new MRC400 Token ID
        "405":
          description: Missing or invalid RSA key
    put:
      tags:
        - MRC400
      summary: Update MRC400 token
      description: |
        - It stores the common information of MRC401 Token.
        - MRC401 Token You can specify the token to be used for sale and auction.
        - If there is no ImageURL or URL of MRC401 Token, the information of MRC400 is used.
      parameters:
        - name: mrc400id
          in: path
          example: MRC400_db7da6bc848ba62e621aede40f75dc760
          schema:
            type: string
            minLength: 40
            maxLength: 40
          description: MRC400 Token Id
          required: true
        - name: name
          in: query
          example: Meta-RPG
          description: If set to an empty string, the existing value is not changed.
          schema:
            type: string
            format: Metacoin Address
            minLength: 0
            maxLength: 128
          required: true
        - name: url
          in: query
          description: If set to an empty string, the existing value is not changed.
          example: https://mrc400-project.com/
          schema:
            type: string
            minLength: 0
            maxLength: 255
          required: true
        - name: imageurl
          in: query
          description: If set to an empty string, the existing value is not changed.
          example: https://mrc400-project.com/images/project.png
          schema:
            type: string
            minLength: 0
            maxLength: 255
          required: true
        - name: allowtoken
          in: query
          description: |
            - Only designated tokens and Metacoin (Token ID: 0) can be used for MRC401 auctions and sales under this MRC400
            - If not specified, set to "0"
            - If you do not want to change this value, you must send the same value as the old one.
          example: "0"
          schema:
            type: string
            format: int
            minLength: 1
            maxLength: 16
          required: true
        - name: category
          in: query
          description: If set to an empty string, the existing value is not changed.
          example: "Baseball Card"
          schema:
            type: string
            format: int
            minLength: 0
            maxLength: 64
          required: true
        - name: description
          in: query
          description: If set to an empty string, the existing value is not changed.
          example: "Metacoin NFT base RPG Game"
          schema:
            type: string
            format: int
            minLength: 0
            maxLength: 4096
          required: true

        - name: itemurl
          in: query
          description: If set to an empty string, the existing value is not changed.
          example: "https://mrc400-project.com/info/{id}"
          schema:
            type: string
            format: int
            minLength: 0
            maxLength: 255
          required: true

        - name: itemimageurl
          in: query
          description: If set to an empty string, the existing value is not changed.
          example: "https://mrc400-project.com/info/{id}"
          schema:
            type: string
            format: int
            minLength: 0
            maxLength: 255
          required: true

        - name: data
          in: query
          description: If set to an empty string, the existing value is not changed.
          schema:
            type: string
            format: int
            minLength: 0
            maxLength: 4096
          required: true
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat mrc400id, name, url, imageurl, category, itemurl, itemimageurl, data, tkey
            - ex) ecdsa_sign(privatekey of owner address, mrc400id +'|'+ name +'|'+ url +'|'+ imageurl+'|'+category+'|'+itemurl+'|'+itemimageurl+'|'+data+'|'+tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "405":
          description: Missing or invalid RSA key
  /mrc400/{mrc400id}:
    get:
      tags:
        - MRC400
      summary: Get information of MRC400
      parameters:
        - name: mrc400id
          in: path
          description: MRC400 Token ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/MRC400"
        "404":
          description: MRC400 not found
  /mrc401/{mrc400id}:
    post:
      tags:
        - MRC401
      summary: Create MRC401 Token
      parameters:
        - name: mrc400id
          in: path
          description: MRC400 Token ID
          required: true
          schema:
            type: string
            minLength: 40
            maxLength: 40
        - name: itemdata
          in: query
          description: MRC401 token data
          schema:
            type: array
            format: json
            minItems: 1
            maxItems: 100
            items:
              type: object
              properties:
                item_id:
                  example: "0000000000000000000000000000000000000001"
                  type: string
                  format: 0-9, A-Z, a-z
                  minLength: 40
                  maxLength: 40
                  description: |
                    - MRC401 Item ID
                    - Unique value within MRC400
                item_url:
                  example: "https://mrc400-project.com/item/0000000000000000000000000000000000000001"
                  type: string
                  format: URL
                  minLength: 0
                  maxLength: 255
                  description: |
                    - Specify the URL of JSON Data that stores detailed data of MRC401 token.
                    - If this value is an empty string, the `itemurl` value defined in MRC400 is used.
                    - **This value is does not have any effect on Metacoin or Metacoin-based blockchain**
                item_image_url:
                  example: "https://mrc400-project.com/"
                  type: string
                  format: URL
                  minLength: 0
                  maxLength: 255
                  description: |
                    - Specify the image URL of the MRC401 token.
                    - If this value is an empty string, the `itemimageurl` value defined in MRC400 is used.
                    - **This value is does not have any effect on Metacoin or Metacoin-based blockchain**
                groupid:
                  type: string
                  minLength: 1
                  maxLength: 64
                  description: |
                      - Value to identify the same ITEM
                      - **This value is does not have any effect on Metacoin or Metacoin-based blockchain**
                initial_reserve:
                  example: "10000000000"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: |
                    - This is the amount the owner will receive when melting this token.
                    - When creating a token, the amount specified is deducted from the creator's wallet.
                    - Currency is the token specified in `initial_token`.
                initial_token:
                  example: "0"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: |
                    - This is the token that the owner will receive when melting this token.
                    - Only allowtoken and "0" specified in MRC400 are possible.
                sell_fee:
                  example: "0"
                  type: string
                  format: float
                  minimum: 0
                  maximum: 99.9999
                  description: |
                    - This is the fee that MRC400 Token holders will receive when trading. If this value is 10, when traded for 300 MTC, the MRC400 token holder will receive 30 MTC, 10% of 300 MTC.
                melt_fee:
                  example: "0"
                  type: string
                  format: float
                  minimum: 0
                  maximum: 99.9999
                  description: |
                    - This is the fee that MRC400 token holders receive when they melt MRC401 items. If this value is 10 and the value of initial_reserve is 300 MTC, then when this token holder melts this token, he will receive 30 MTC, 10% of 300 MTC.
                transferable:
                  type: string
                  example: "Permanent"
                  enum:
                    - Permanent
                    - Bound
                    - Temporary
                  description: |
                    - It means the availability of transactions and transfers.
                    - Permanent: Transaction, Transfer available
                    - Bound: Transaction, transfer impossible
                    - Temprary: Transaction, transfer, but MRC400 creator can change to Permanent, Bound
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found
  /mrc401/{mrc401id}:
    get:
      tags:
        - MRC401
      summary: GET MRC401 Token
      parameters:
        - name: mrc400id
          in: path
          example: "MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000001"
          description: MRC401 Token ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/MRC401"
        "404":
          description: MRC400 not found
  /mrc401/transfer/{mrc401id}:
    post:
      tags:
        - MRC401
      summary: Transfer ownership of the MRC401 token to another user.
      parameters:
        - name: mrc401id
          in: path
          description: MRC401 Token ID
          required: true
          schema:
            type: string
            minLength: 81
            maxLength: 81
        - name: fromAddr
          in: query
          schema:
            type: string
            format: Metacoin Address
            minLength: 40
            maxLength: 40
          description: Current owner of item MRC401
          required: true
        - name: toAddr
          in: query
          schema:
            type: string
            format: Metacoin Address
            minLength: 40
            maxLength: 40
          description: Address to receive ownership of MRC401 token
          required: true
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat fromAddr, toAddr, url, tkey
            - ex) ecdsa_sign(privatekey of owner address, fromAddr +'|'+ toAddr +'|'+ mrc401id +'|'+tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found

  /mrc401/sell:
    post:
      tags:
        - MRC401
      summary: Sell MRC401 Token
      description: |
        - Sell ​​MRC401 tokens.
        - If other users purchase tokens, they will receive the specified amount of sales.
        - If `sell_fee` is 10, 10% of the transaction amount will be transferred to the MRC400 token holder designated in the MRC401 token, and only 90% of the fee excluding the 10% fee will be received by the MRC401 token holder.
        - If the value of `sell_fee` is 0, no commission is paid.
      parameters:
        - name: seller
          in: query
          schema:
            type: string
            format: Metacoin Adderess
        - name: mrc400id
          in: path
          description: |
            - MRC400 Token ID
            - The mrc400 token ID of the mrc401 item specified in itemdata.
          required: true
          schema:
            type: string
            minLength: 40
            maxLength: 40
        - name: itemdata
          in: query
          description: MRC401 Token information to be sold
          schema:
            type: array
            format: json
            minItems: 1
            maxItems: 100
            items:
              type: object
              properties:
                id:
                  example: "MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000001"
                  type: string
                  minLength: 81
                  maxLength: 81
                  description: |
                    - MRC401 Item ID
                    - It is the MRC401 Token belonging to the token specified in mrc400id
                price:
                  example: "10000000000"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: sale price
                token:
                  example: "0"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: |
                    - This is the token that the owner will receive when melting this token.
                    - Only allowtoken and "0" specified in MRC400 are possible.
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat seller, itemdata, tkey
            - ex) ecdsa_sign(privatekey of owner address, seller +'|'+ itemdata +'|'+ tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found
  /mrc401/unsell:
    post:
      tags:
        - MRC401
      summary: MRC401 token sale canceled
      parameters:
        - name: seller
          in: query
          description: MRC401 Token owner address
          schema:
            type: string
            format: Metacoin Adderess
        - name: mrc400id
          in: path
          description: |
            - MRC400 Token ID
            - The mrc400 token ID of the mrc401 item specified in itemdata.
          required: true
          schema:
            type: string
            minLength: 40
            maxLength: 40
        - name: itemdata
          in: query
          description: |
            - MRC401 Token id list to be sale cancel
            - It is the MRC401 Token belonging to the token specified in mrc400id
          example: '{"MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000001","MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000002"}'
          schema:
            type: array
            format: json
            minItems: 1
            maxItems: 100
            items:
              type: string
              minLength: 81
              maxLength: 81
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat seller, itemdata, tkey
            - ex) ecdsa_sign(privatekey of owner address, seller +'|'+ itemdata +'|'+ tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found
  /mrc401/buy/{mrc401id}:
    post:
      tags:
        - MRC401
      summary: Buy MRC401 Token
      parameters:
        - name: mrc401id
          in: path
          example: MRC400_dd1605be6960d9d6ba7bbeed9da033980_0000000000000000000000000000000000000001
          description: MRC401 Token ID
          required: true
          schema:
            type: string
            minLength: 81
            maxLength: 81
        - name: buyer
          in: query
          description: MRC401 Token buyer address
          schema:
            type: string
            format: Metacoin Adderess
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat mrc401id, tkey
            - ex) ecdsa_sign(privatekey of owner address, mrc401id +'|'+ tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found
  /mrc401/melt/{mrc401id}:
    post:
      tags:
        - MRC401
      summary: Melt MRC401
      description: |
        - Melt the MRC401 token.
        - Once melted, the item cannot be transferred or sold to others.
        - When the MRC401 Token is created, it will be received in the owner's wallet as much as the `initial_price`.
        - If the `meltint_fee` is 10, 10% of the initial_price will be transferred to the MRC400 token holder specified in the MRC401 token, and only 90% of the fee excluding the 10% fee will be received by the MRC401 token holder.
        - If the value of `meltint_fee` is 0, no fee is paid.
      parameters:
        - name: mrc401id
          in: path
          description: MRC401 Token ID
          required: true
          schema:
            type: string
            minLength: 81
            maxLength: 81
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat mrc401id, tkey
            - ex) ecdsa_sign(privatekey of owner address, mrc401id +'|'+ tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found

  /mrc401/auction:
    post:
      tags:
        - MRC401
      summary: Auction MRC401 Token
      description: |
        - Auction ​​MRC401 tokens.
        - You can cancel an auction using the /mrc401/unauction protocol.
        - If there is a bidder, the auction cannot be canceled.
        - If `sell_fee` is 10, 10% of the transaction amount will be transferred to the MRC400 token holder designated in the MRC401 token, and only 90% of the fee excluding the 10% fee will be received by the MRC401 token holder.
        - If the value of `sell_fee` is 0, no commission is paid.
      parameters:
        - name: seller
          in: query
          schema:
            type: string
            format: Metacoin Adderess
        - name: mrc400id
          in: path
          description: |
            - MRC400 Token ID
            - The mrc400 token ID of the mrc401 item specified in itemdata.
          required: true
          schema:
            type: string
            minLength: 40
            maxLength: 40
        - name: itemdata
          in: query
          description: MRC401 Token information to be auction
          schema:
            type: array
            format: json
            minItems: 1
            maxItems: 100
            items:
              type: object
              properties:
                id:
                  example: "MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000001"
                  type: string
                  minLength: 81
                  maxLength: 81
                  description: |
                    - MRC401 Item ID for auction
                    - It is the MRC401 Token belonging to the token specified in mrc400id
                start:
                  example: "100"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: auction start price
                bnynow:
                  example: "500"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: |
                    - auction buynow price
                    - If this value is 0, you cannot purchase immediately.
                bidding:
                  example: "1"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: |
                    - Auction bidding unit
                    - If this value is 5, the amount that can be bid is a multiple of 5 + the starting price of the auction.
                token:
                  example: "0"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: |
                    - Specify the tokens that can be used for auctions.
                    - Only allowtoken and "0" (Metacoin) specified in MRC400 are allowed.
                end:
                  example: "0"
                  type: string
                  format: UnixTimestamp (UTC)
                  minLength: 10
                  maxLength: 10
                  description: |
                    - The time the auction ends.
                    - The minimum value of this value is + 1 hour from the time the packet is transmitted.
                    - The maximum value of this value is +21 days from the time the packet is transmitted.
                    - **If this value is less than the current time + 1 hour, it is set as the current time + 1 hour.**
                    - **If this value is greater than the current time + 21 days, it is set as the current time + 21 days.**
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat seller, itemdata, tkey
            - ex) ecdsa_sign(privatekey of owner address, seller +'|'+ itemdata +'|'+ tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found

  /mrc401/unauction:
    post:
      tags:
        - MRC401
      summary: MRC401 token auction canceled
      description: |
        - If there is a bidder, the auction cannot be canceled.
      parameters:
        - name: seller
          in: query
          description: MRC401 Token owner address
          schema:
            type: string
            format: Metacoin Adderess
        - name: mrc400id
          in: path
          description: |
            - MRC400 Token ID
            - The mrc400 token ID of the mrc401 item specified in itemdata.
          required: true
          schema:
            type: string
            minLength: 40
            maxLength: 40
        - name: itemdata
          in: query
          description: |
            - MRC401 Token id list to be sale cancel
            - It is the MRC401 Token belonging to the token specified in mrc400id
          example: '{"MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000001","MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000002"}'
          schema:
            type: array
            format: json
            minItems: 1
            maxItems: 100
            items:
              type: string
              minLength: 81
              maxLength: 81
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat seller, itemdata, tkey
            - ex) ecdsa_sign(privatekey of owner address, seller +'|'+ itemdata +'|'+ tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found

  /mrc401/bid/{mrc401id}:
    post:
      tags:
        - MRC401
      summary: Bid MRC401 Token
      parameters:
        - name: mrc401id
          in: path
          example: MRC400_dd1605be6960d9d6ba7bbeed9da033980_0000000000000000000000000000000000000001
          description: MRC401 Token ID
          required: true
          schema:
            type: string
            minLength: 81
            maxLength: 81
        - name: buyer
          in: query
          description: MRC401 Token auction bidder address
          schema:
            type: string
            format: Metacoin Adderess
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: amount
          in: query
          example: "100"
          schema:
            type: string
            format: integer
            minimum: 1
            maximum: 9999999999999999999999999999999999999999
          description: |
            - auction bid amount
            - If there are no bidders, it must be equal to or greater than the starting price of the auction.
            - If there is a bidder, it must be greater than the current bid amount.
            - The bid amount must be equal to the auction opening price or the auction opening price plus a multiple of the auction bid units.
            - If there are no bidders and the auction start price is 100 and the bid unit is 5, it must be 100, 105, 110, ...
            - If there is a bidder, the current bid is 120, the auction starting price is 100, and the bid unit is 5, it should be 125, 130, 135, ...
        - name: token
          in: query
          example: "0"
          schema:
            type: string
            format: integer
            minimum: 1
            maximum: 9999999999999999999999999999999999999999
          description: |
            - This value should be the ID of the token specified to be used in the auction.
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat mrc401id, amount, token, tkey
            - ex) ecdsa_sign(privatekey of owner address, mrc401id +'|'+ amount + '|' + token + '|' + tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found


  /mrc401/auctionfinish/{mrc401id}:
    get:
      tags:
        - MRC401
      summary: Finish MRC401 token auction
      description: |
        - Process the auction closing.
        - This replaces the JobScheduler inside the BlockChain.
        - It can be called without permission or signature, and the auction is closed according to the already established procedure.
        - If you call it before the auction end time, you will get an error.
        - If you call for an auction that has already ended, you will get an error.
      parameters:
        - name: mrc401id
          in: path
          example: MRC400_dd1605be6960d9d6ba7bbeed9da033980_0000000000000000000000000000000000000001
          description: MRC401 Token ID
          required: true
          schema:
            type: string
            minLength: 81
            maxLength: 81
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found


  /mrc402:
      post:
        tags:
          - MRC402
        summary: Create MRC402 Token
        parameters:
          - name: mrc400id
            in: path
            description: MRC400 Token ID
            required: true
            schema:
              type: string
              minLength: 40
              maxLength: 40
          - name: itemdata
            in: query
            description: MRC402 token data
            schema:
              type: array
              format: json
              minItems: 1
              maxItems: 100
              items:
                type: object
                properties:
                  initial_reserve:
                    example: "10000000000"
                    type: string
                    format: integer
                    minimum: 1
                    maximum: 9999999999999999999999999999999999999999
                    description: |
                      - This is the amount the owner will receive when melting this token.
                      - When creating a token, the amount specified is deducted from the creator's wallet.
                      - Currency is the token specified in `initial_token`.
                  sell_fee:
                    example: "0"
                    type: string
                    format: float
                    minimum: 0
                    maximum: 99.9999
                    description: |
                      - This is the fee that MRC400 Token holders will receive when trading. If this value is 10, when traded for 300 MTC, the MRC400 token holder will receive 30 MTC, 10% of 300 MTC.
                  melt_fee:
                    example: "0"
                    type: string
                    format: float
                    minimum: 0
                    maximum: 99.9999
                    description: |
                      - This is the fee that MRC400 token holders receive when they melt MRC402 items. If this value is 10 and the value of initial_reserve is 300 MTC, then when this token holder melts this token, he will receive 30 MTC, 10% of 300 MTC.
                  transferable:
                    type: string
                    example: "Permanent"
                    enum:
                      - Permanent
                      - Bound
                      - Temporary
                    description: |
                      - It means the availability of transactions and transfers.
                      - Permanent: Transaction, Transfer available
                      - Bound: Transaction, transfer impossible
                      - Temprary: Transaction, transfer, but MRC400 creator can change to Permanent, Bound
        responses:
          "200":
            description: successful operation
            content:
              "*/*":
                schema:
                  type: object
                  properties:
                    transaction_id:
                      type: string
                      description: Transaction ID
          "404":
            description: MRC400 not found
  /mrc402/{mrc402id}:
    get:
      tags:
        - MRC402
      summary: GET MRC402 Token
      parameters:
        - name: mrc400id
          in: path
          example: "MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000001"
          description: MRC402 Token ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/MRC400"
        "404":
          description: MRC400 not found
  /mrc402/transfer/{mrc402id}:
    post:
      tags:
        - MRC402
      summary: Transfer ownership of the MRC402 token to another user.
      parameters:
        - name: mrc402id
          in: path
          description: MRC402 Token ID
          required: true
          schema:
            type: string
            minLength: 81
            maxLength: 81
        - name: fromAddr
          in: query
          schema:
            type: string
            format: Metacoin Address
            minLength: 40
            maxLength: 40
          description: Current owner of item MRC402
          required: true
        - name: toAddr
          in: query
          schema:
            type: string
            format: Metacoin Address
            minLength: 40
            maxLength: 40
          description: Address to receive ownership of MRC402 token
          required: true
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat fromAddr, toAddr, url, tkey
            - ex) ecdsa_sign(privatekey of owner address, fromAddr +'|'+ toAddr +'|'+ mrc402id +'|'+tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found

  /mrc402/sell:
    post:
      tags:
        - MRC402
      summary: Sell MRC402 Token
      description: |
        - Sell ​​MRC402 tokens.
        - If other users purchase tokens, they will receive the specified amount of sales.
        - If `sell_fee` is 10, 10% of the transaction amount will be transferred to the MRC400 token holder designated in the MRC402 token, and only 90% of the fee excluding the 10% fee will be received by the MRC402 token holder.
        - If the value of `sell_fee` is 0, no commission is paid.
      parameters:
        - name: seller
          in: query
          schema:
            type: string
            format: Metacoin Adderess
        - name: mrc400id
          in: path
          description: |
            - MRC400 Token ID
            - The mrc400 token ID of the mrc402 item specified in itemdata.
          required: true
          schema:
            type: string
            minLength: 40
            maxLength: 40
        - name: itemdata
          in: query
          description: MRC402 Token information to be sold
          schema:
            type: array
            format: json
            minItems: 1
            maxItems: 100
            items:
              type: object
              properties:
                id:
                  example: "MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000001"
                  type: string
                  minLength: 81
                  maxLength: 81
                  description: |
                    - MRC402 Item ID
                    - It is the MRC402 Token belonging to the token specified in mrc400id
                price:
                  example: "10000000000"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: sale price
                token:
                  example: "0"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: |
                    - This is the token that the owner will receive when melting this token.
                    - Only allowtoken and "0" specified in MRC400 are possible.
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat seller, itemdata, tkey
            - ex) ecdsa_sign(privatekey of owner address, seller +'|'+ itemdata +'|'+ tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found
  /mrc402/unsell:
    post:
      tags:
        - MRC402
      summary: MRC402 token sale canceled
      parameters:
        - name: seller
          in: query
          description: MRC402 Token owner address
          schema:
            type: string
            format: Metacoin Adderess
        - name: mrc400id
          in: path
          description: |
            - MRC400 Token ID
            - The mrc400 token ID of the mrc402 item specified in itemdata.
          required: true
          schema:
            type: string
            minLength: 40
            maxLength: 40
        - name: itemdata
          in: query
          description: |
            - MRC402 Token id list to be sale cancel
            - It is the MRC402 Token belonging to the token specified in mrc400id
          example: '{"MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000001","MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000002"}'
          schema:
            type: array
            format: json
            minItems: 1
            maxItems: 100
            items:
              type: string
              minLength: 81
              maxLength: 81
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat seller, itemdata, tkey
            - ex) ecdsa_sign(privatekey of owner address, seller +'|'+ itemdata +'|'+ tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found
  /mrc402/buy/{mrc402id}:
    post:
      tags:
        - MRC402
      summary: Buy MRC402 Token
      parameters:
        - name: mrc402id
          in: path
          example: MRC400_dd1605be6960d9d6ba7bbeed9da033980_0000000000000000000000000000000000000001
          description: MRC402 Token ID
          required: true
          schema:
            type: string
            minLength: 81
            maxLength: 81
        - name: buyer
          in: query
          description: MRC402 Token buyer address
          schema:
            type: string
            format: Metacoin Adderess
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat mrc402id, tkey
            - ex) ecdsa_sign(privatekey of owner address, mrc402id +'|'+ tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found
  /mrc402/melt/{mrc402id}:
    post:
      tags:
        - MRC402
      summary: Melt MRC402
      description: |
        - Melt the MRC402 token.
        - Once melted, the item cannot be transferred or sold to others.
        - When the MRC402 Token is created, it will be received in the owner's wallet as much as the `initial_price`.
        - If the `meltint_fee` is 10, 10% of the initial_price will be transferred to the MRC400 token holder specified in the MRC402 token, and only 90% of the fee excluding the 10% fee will be received by the MRC402 token holder.
        - If the value of `meltint_fee` is 0, no fee is paid.
      parameters:
        - name: mrc402id
          in: path
          description: MRC402 Token ID
          required: true
          schema:
            type: string
            minLength: 81
            maxLength: 81
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat mrc402id, tkey
            - ex) ecdsa_sign(privatekey of owner address, mrc402id +'|'+ tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found

  /mrc402/auction:
    post:
      tags:
        - MRC402
      summary: Auction MRC402 Token
      description: |
        - Auction ​​MRC402 tokens.
        - You can cancel an auction using the /mrc402/unauction protocol.
        - If there is a bidder, the auction cannot be canceled.
        - If `sell_fee` is 10, 10% of the transaction amount will be transferred to the MRC400 token holder designated in the MRC402 token, and only 90% of the fee excluding the 10% fee will be received by the MRC402 token holder.
        - If the value of `sell_fee` is 0, no commission is paid.
      parameters:
        - name: seller
          in: query
          schema:
            type: string
            format: Metacoin Adderess
        - name: mrc400id
          in: path
          description: |
            - MRC400 Token ID
            - The mrc400 token ID of the mrc402 item specified in itemdata.
          required: true
          schema:
            type: string
            minLength: 40
            maxLength: 40
        - name: itemdata
          in: query
          description: MRC402 Token information to be auction
          schema:
            type: array
            format: json
            minItems: 1
            maxItems: 100
            items:
              type: object
              properties:
                id:
                  example: "MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000001"
                  type: string
                  minLength: 81
                  maxLength: 81
                  description: |
                    - MRC402 Item ID for auction
                    - It is the MRC402 Token belonging to the token specified in mrc400id
                start:
                  example: "100"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: auction start price
                bnynow:
                  example: "500"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: |
                    - auction buynow price
                    - If this value is 0, you cannot purchase immediately.
                bidding:
                  example: "1"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: |
                    - Auction bidding unit
                    - If this value is 5, the amount that can be bid is a multiple of 5 + the starting price of the auction.
                token:
                  example: "0"
                  type: string
                  format: integer
                  minimum: 1
                  maximum: 9999999999999999999999999999999999999999
                  description: |
                    - Specify the tokens that can be used for auctions.
                    - Only allowtoken and "0" (Metacoin) specified in MRC400 are allowed.
                end:
                  example: "0"
                  type: string
                  format: UnixTimestamp (UTC)
                  minLength: 10
                  maxLength: 10
                  description: |
                    - The time the auction ends.
                    - The minimum value of this value is + 1 hour from the time the packet is transmitted.
                    - The maximum value of this value is +21 days from the time the packet is transmitted.
                    - **If this value is less than the current time + 1 hour, it is set as the current time + 1 hour.**
                    - **If this value is greater than the current time + 21 days, it is set as the current time + 21 days.**
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat seller, itemdata, tkey
            - ex) ecdsa_sign(privatekey of owner address, seller +'|'+ itemdata +'|'+ tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found

  /mrc402/unauction:
    post:
      tags:
        - MRC402
      summary: MRC402 token auction canceled
      description: |
        - If there is a bidder, the auction cannot be canceled.
      parameters:
        - name: seller
          in: query
          description: MRC402 Token owner address
          schema:
            type: string
            format: Metacoin Adderess
        - name: mrc400id
          in: path
          description: |
            - MRC400 Token ID
            - The mrc400 token ID of the mrc402 item specified in itemdata.
          required: true
          schema:
            type: string
            minLength: 40
            maxLength: 40
        - name: itemdata
          in: query
          description: |
            - MRC402 Token id list to be sale cancel
            - It is the MRC402 Token belonging to the token specified in mrc400id
          example: '{"MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000001","MRC400_db7da6bc848ba62e621aede40f75dc760_0000000000000000000000000000000000000002"}'
          schema:
            type: array
            format: json
            minItems: 1
            maxItems: 100
            items:
              type: string
              minLength: 81
              maxLength: 81
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat seller, itemdata, tkey
            - ex) ecdsa_sign(privatekey of owner address, seller +'|'+ itemdata +'|'+ tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found

  /mrc402/bid/{mrc402id}:
    post:
      tags:
        - MRC402
      summary: Bid MRC402 Token
      parameters:
        - name: mrc402id
          in: path
          example: MRC400_dd1605be6960d9d6ba7bbeed9da033980_0000000000000000000000000000000000000001
          description: MRC402 Token ID
          required: true
          schema:
            type: string
            minLength: 81
            maxLength: 81
        - name: buyer
          in: query
          description: MRC402 Token auction bidder address
          schema:
            type: string
            format: Metacoin Adderess
        - name: tkey
          in: query
          description: Temporary key for Sign(return value of GET /getkey/transfer)
          required: true
          schema:
            type: string
        - name: amount
          in: query
          example: "100"
          schema:
            type: string
            format: integer
            minimum: 1
            maximum: 9999999999999999999999999999999999999999
          description: |
            - auction bid amount
            - If there are no bidders, it must be equal to or greater than the starting price of the auction.
            - If there is a bidder, it must be greater than the current bid amount.
            - The bid amount must be equal to the auction opening price or the auction opening price plus a multiple of the auction bid units.
            - If there are no bidders and the auction start price is 100 and the bid unit is 5, it must be 100, 105, 110, ...
            - If there is a bidder, the current bid is 120, the auction starting price is 100, and the bid unit is 5, it should be 125, 130, 135, ...
        - name: token
          in: query
          example: "0"
          schema:
            type: string
            format: integer
            minimum: 1
            maximum: 9999999999999999999999999999999999999999
          description: |
            - This value should be the ID of the token specified to be used in the auction.
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat mrc402id, amount, token, tkey
            - ex) ecdsa_sign(privatekey of owner address, mrc402id +'|'+ amount + '|' + token + '|' + tkey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found


  /mrc402/auctionfinish/{mrc402id}:
    get:
      tags:
        - MRC402
      summary: Finish MRC402 token auction
      description: |
        - Process the auction closing.
        - This replaces the JobScheduler inside the BlockChain.
        - It can be called without permission or signature, and the auction is closed according to the already established procedure.
        - If you call it before the auction end time, you will get an error.
        - If you call for an auction that has already ended, you will get an error.
      parameters:
        - name: mrc402id
          in: path
          example: MRC400_dd1605be6960d9d6ba7bbeed9da033980_0000000000000000000000000000000000000001
          description: MRC402 Token ID
          required: true
          schema:
            type: string
            minLength: 81
            maxLength: 81
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  transaction_id:
                    type: string
                    description: Transaction ID
        "404":
          description: MRC400 not found


  /address:
    post:
      tags:
        - Address
      summary: Create new Adderess
      description: |
        # Warning!!
        - An ECDSA private key that is paired with the ECDSA public key is used to authorize the transfer.
        - When you make your wallet, please keep the Private Key that is paired with the Public Key you sent in a safe place.
        - If you lose your private key, you can not claim your wallet.
        - ECDSA curve is prime256v1(secp256r1) or secp384r1 or secp521r1.
      parameters:
        - name: publickey
          in: query
          schema:
            type: string
            format: pem encoding
          description: ECDSA Public key for signing
          required: true
        - name: addinfo
          in: query
          schema:
            type: string
            minLength: 0
            maxLength: 2048
          description: |
            - Address memo
            - Up to 2048 characters are stored, and characters after 2048 characters are not stored.
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: string
                format: Metacoin Address
                description: new Metacoin address
        "405":
          description: Missing or invalid RSA key
      x-code-samples:
        - lang: nodejs
          source: |
            const crypto = require('crypto');
            const axios = require('axios');

            // testnet
            var hostname = "https://testnetrest.metacoin.network:20923";
            // mainnet
            // hostname = "https://rest.metacoin.network:20923";

            function create_address() {
                return new Promise((resolve, reject) => {
                    crypto.generateKeyPair("ec", {
                        namedCurve: "secp384r1",  // prime256v1, secp384r1, secp521r1
                        publicKeyEncoding: {
                            type: 'spki',
                            format: 'pem'
                        },
                        privateKeyEncoding: {
                            type: 'pkcs8',
                            format: 'pem'
                        }
                    }, (err, public_key, private_key) => {
                        if (err != null) {
                            return reject(err.message);
                        }

                        axios.post(hostname + '/address', {
                            'publickey': public_key
                        })
                            .then(function (response) {
                                if (response.status != 200) {
                                    return Promise.reject("MTC server response errror");
                                } else {
                                    return Promise.resolve(response.data);
                                }
                            })
                            .then(function (mtc_address) {
                                return resolve({ "Address": mtc_address, "publicKey": public_key, "PrivateKey": private_key });
                            })
                            .catch(function (error) {
                                return reject(error);
                            });
                    });
                });
            }

            create_address()
                .then((v) => {
                    console.log('Metacoin Address', v.Address);
                    console.log('Public Key', v.publicKey);
                    console.log('Private Key', v.PrivateKey);
                })
                .catch((err) => {
                    console.log(err);
                });

        - lang: PHP
          source: |
            <?php
            // testnet
            define('MTC_HOST', 'https://testnetrest.metacoin.network:20923');
            // mainnet
            // define('MTC_HOST', 'https://rest.metacoin.network:20923');
            function mtc_post($uri, $param){
                $curl = curl_init();
                $opt = curl_setopt_array($curl, array(
                    CURLOPT_URL => MTC_HOST . $uri,
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_CONNECTTIMEOUT => 5,
                    CURLOPT_TIMEOUT => 20,
                    CURLOPT_SSL_VERIFYPEER => false,
                    CURLOPT_SSL_VERIFYHOST => false,
                    CURLOPT_POSTFIELDS => http_build_query($param),
                    CURLOPT_POST => true,
                    CURLOPT_HTTPHEADER => array('Content-Type: application/x-www-form-urlencoded')
                ));
                $body = curl_exec($curl);

                $http_code = curl_getinfo($curl, CURLINFO_HTTP_CODE);
                $err_msg = '';
                $err_code = curl_errno($curl);
                if ($err_code) {
                    $err_msg = curl_error($curl);
                }

                printf("Response Http Code: %s, msg: %s\n", $http_code, $body);
                if ($err_code) {
                    printf("Response CurlCode: %s, msg: %s\n", $err_code, $body);
                }

                curl_close($curl);
                $curl = null;

                return $body;
            }
            $new_key_pair = openssl_pkey_new(array(
                "private_key_type" => OPENSSL_KEYTYPE_EC,
                'curve_name' => 'secp384r1', // prime256v1, secp384r1, secp521r1

            ));
            openssl_pkey_export($new_key_pair, $private_key_pem);
            $details = openssl_pkey_get_details($new_key_pair);
            $public_key_pem = $details['key'];

            $param = array(
                'publickey' => $public_key_pem,
                'addinfo' => 'It is Address extra info !!');

            $body = mtc_post('/address', $param);
            printf("New address %s\n", $body);
            printf("Private Key\n%s\n", $private_key_pem);
            printf("Public Key\n%s\n", $public_key_pem);

  /address/{address}:
    get:
      tags:
        - Address
      summary: Get address status
      parameters:
        - name: address
          in: path
          description: Metacoin address
          required: true
          schema:
            type: string
            format: Metacoin Address
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/address"
        "404":
          description: Address not found
  /address/bykey:
    post:
      tags:
        - Address
      summary: Get address list by public key
      parameters:
        - name: publickey
          in: query
          description: |
            - Metacoin address's public key
            - ignore carriage return, line feed, "-----BEGIN PUBLIC KEY-----", "-----END PUBLIC KEY-----"
          required: true
          schema:
            type: string
          example: -----BEGIN PUBLIC KEY-----\nMIGbMBAGByqGSM49AgEGBSuBBAAjA4GGAAQBBp5oHHFaATF1UIephJYgtW+u2+aT\nhZLxNgn5JZhgFXzvTUHlThZxb61eTXMMjyU/IloNznwtzRWuPq1oMDOMq9oBbT/t\nE4lgyPF5/QtzuhaaYRpr/ahZ4JSLyHOegkopXeic3UFUmkpb4mXuSGgu5mChuuUC\nktjfluGNtvXHOWYtqTU=\n-----END PUBLIC KEY-----
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: array
                items:
                  example: MTATLnT6SGKE8RU0CBPoDRfUXL5lr4SLece1a6ee
                  type: string
                  format: Metacoin Address
                  maxLength: 40
                  minLength: 40
        "404":
          description: Address not found
      x-code-samples:
        - lang: nodejs
          source: |
            const crypto = require('crypto');
            const axios = require('axios');

            // testnet
            var hostname = "https://testnetrest.metacoin.network:20923";
            // mainnet
            // hostname = "https://rest.metacoin.network:20923";

            var public_key = "-----BEGIN PUBLIC KEY-----\nMIGbMBAGByqGSM49AgEGBSuBBAAjA4GGAAQBBp5oHHFaATF1UIephJYgtW+u2+aT\nhZLxNgn5JZhgFXzvTUHlThZxb61eTXMMjyU/IloNznwtzRWuPq1oMDOMq9oBbT/t\nE4lgyPF5/QtzuhaaYRpr/ahZ4JSLyHOegkopXeic3UFUmkpb4mXuSGgu5mChuuUC\nktjfluGNtvXHOWYtqTU=\n-----END PUBLIC KEY-----";
            // public_key = "MIGbMBAGByqGSM49AgEGBSuBBAAjA4GGAAQBBp5oHHFaATF1UIephJYgtW+u2+aThZLxNgn5JZhgFXzvTUHlThZxb61eTXMMjyU/IloNznwtzRWuPq1oMDOMq9oBbT/tE4lgyPF5/QtzuhaaYRpr/ahZ4JSLyHOegkopXeic3UFUmkpb4mXuSGgu5mChuuUCktjfluGNtvXHOWYtqTU=";

            axios.post(hostname + '/address/bykey', {
              'publickey': public_key
            }, {
              proxy: {
                host: '127.0.0.1',
                port: 8888
              }
            })
              .then(function (response) {
                if (response.status != 200) {
                  return Promise.reject("Metacoin server response error");
                } else {
                  return Promise.resolve(response.data);
                }
              })
              .then(function (mtc_address) {
                // ["MT4FzIQCgRh0T1YD841OxjNd3dkfTJcEd41d17d3"]
                console.log(mtc_address);
              })
              .catch(function (error) {
                if (error.response.status == 404) {
                  console.log("Address not found");
                } else {
                  console.log(error);
                }
              });



        - lang: PHP
          source: |
            <?php
            // testnet
            define('MTC_HOST', 'https://testnetrest.metacoin.network:20923');
            // mainnet
            // define('MTC_HOST', 'https://rest.metacoin.network:20923');
            function mtc_post($uri, $param){
                $curl = curl_init();
                $opt = curl_setopt_array($curl, array(
                    CURLOPT_URL => MTC_HOST . $uri,
                    CURLOPT_RETURNTRANSFER => true,
                    CURLOPT_CONNECTTIMEOUT => 5,
                    CURLOPT_TIMEOUT => 20,
                    CURLOPT_SSL_VERIFYPEER => false,
                    CURLOPT_SSL_VERIFYHOST => false,
                    CURLOPT_POSTFIELDS => http_build_query($param),
                    CURLOPT_POST => true,
                    CURLOPT_HTTPHEADER => array('Content-Type: application/x-www-form-urlencoded')
                ));
                $body = curl_exec($curl);

                $http_code = curl_getinfo($curl, CURLINFO_HTTP_CODE);
                $err_msg = '';
                $err_code = curl_errno($curl);
                if ($err_code) {
                    $err_msg = curl_error($curl);
                }

                printf("Response Http Code: %s, msg: %s\n", $http_code, $body);
                if ($err_code) {
                    printf("Response CurlCode: %s, msg: %s\n", $err_code, $body);
                }

                curl_close($curl);
                $curl = null;

                return $body;
            }

            $param = array(
                'publickey' => "-----BEGIN PUBLIC KEY-----\nMIGbMBAGByqGSM49AgEGBSuBBAAjA4GGAAQBBp5oHHFaATF1UIephJYgtW+u2+aT\nhZLxNgn5JZhgFXzvTUHlThZxb61eTXMMjyU/IloNznwtzRWuPq1oMDOMq9oBbT/t\nE4lgyPF5/QtzuhaaYRpr/ahZ4JSLyHOegkopXeic3UFUmkpb4mXuSGgu5mChuuUC\nktjfluGNtvXHOWYtqTU=\n-----END PUBLIC KEY-----");

            $body = mtc_post('/address/bykey', $param);
            printf("Address list : %s\n", $body);
  /nonce/{address}:
    get:
      tags:
        - Address
      summary: Get Temporary key(nonce) for ganerate transaction(ex Transfer, Dapp Create or Token Create)
      description: |
        - By using the signature value recorded in the transaction, the key value is obtained to prevent duplicate calls by other users.
        - In the existing blockchain, the nonce value is a serial number that means the number of TX occurrences, but in Metacoin, it is a random key value.
        - This command replaces the existing "getkey" API.
      parameters:
        - name: address
          in: path
          required: true
          description: |
            Address to get nonce value
          schema:
            type: string
            format: Metacoin address
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: string
                description: Temporary key for transaction
        "400":
          description: address not exists

  /balance/{address}:
    get:
      tags:
        - Balance
      summary: Get balance of address
      parameters:
        - name: address
          in: path
          description: Metacoin address
          required: true
          schema:
            type: string
            format: Metacoin address
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/balance"
        "404":
          description: Address not found

  /balance/{address}/{token}:
    get:
      tags:
        - Balance
      summary: Get balance of address
      parameters:
        - name: address
          in: path
          description: Metacoin address
          required: true
          schema:
            type: string
            format: Metacoin address
        - name: token
          in: path
          description: Metacoin token id
          required: true
          schema:
            type: string
            format: int32
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/balance"
        "404":
          description: Address not found
        "405":
          description: Token not found

  /block/:
    get:
      tags:
        - Block
      summary: Get last block info
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: string
                description: Last block number

  /block/{block}:
    get:
      tags:
        - Block
      summary: Get Block info and Transaction ID in block
      parameters:
        - name: block
          in: path
          description: Block number or Block HASH
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Block"
        "404":
          description: Block not found

  /transaction/{transaction_id}:
    get:
      tags:
        - Block
      summary: Get Transaction info
      parameters:
        - name: transaction_id
          in: path
          description: Transaction ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/Transaction"
        "404":
          description: Transaction not found

  /token/{token}:
    get:
      tags:
        - Token
      summary: Get Token info
      parameters:
        - name: token
          in: path
          description: Token ID
          required: true
          schema:
            type: string
            format: int32
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: object
                properties:
                  owner:
                    description: Token Creator
                    type: string
                    format: Metacoin address
                  symbol:
                    description: Token Symbol
                    type: string
                  createdate:
                    description: Token Create Date - ignore for token create.
                    type: integer
                    format: UnixTimestamp (UTC)
                  totalsupply:
                    description: Total amount
                    type: string
                    format: decimal
                  reservedamount:
                    description: Reserve token amount for owner
                    type: string
                    format: decimal
                  remainamount:
                    description: Remain amount - ignore for token create.
                    type: string
                    format: decimal
                  token:
                    description: Token ID
                    type: integer
                  name:
                    description: Token name
                    type: string
                  category:
                    description: Token Category
                    type: string
                  status:
                    description: Token status
                    type: string
                  decimal:
                    description: decimal point count
                    type: integer
                  tier:
                    type: array
                    items:
                      $ref: "#/components/schemas/Tier"
                  url:
                    description: Token Creator URL
                    type: string
                  circulation_supply:
                    description: Circulating supply
                    type: string
        "404":
          description: Token not found

  /token:
    post:
      tags:
        - Token
      summary: Token save
      parameters:
        - name: owner
          in: query
          description: Token Creator
          required: true
          schema:
            type: string
            format: Metacoin address
        - name: symbol
          in: query
          description: Token Symbol
          required: true
          schema:
            type: string
            format: integer
        - name: totalsupply
          in: query
          description: Total amount
          schema:
            type: string
            format: decimal
        - name: image
          in: query
          description: |
            - Token image
            - Metacoin Network does not change / modify the attached IMAGE
            - If the attached image contains political, religious, or racial discrimination, or if it clearly violates international law or the laws of Hong Kong to which INBLOCK belongs, the coin may not be displayed on the Metacoin network
          schema:
            type: string
            format: The "data" URL scheme(https://tools.ietf.org/html/rfc2397)
          example: data:image/jpeg;base64,/9j/4AAQSkZJRgABAAEAlgCWAAD//gAfTEVBR ...

        - name: reservedamount
          in: query
          description: Reserve token amount for owner
          schema:
            type: string
            format: decimal
        - name: remainamount
          in: query
          description: Remain amount - ignore for token create.
          schema:
            type: string
            format: decimal
        - name: reserve
          in: query
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Reserve"
        - name: name
          in: query
          required: true
          description: Token name
          schema:
            type: string
        - name: category
          in: query
          description: Token Category
          schema:
            type: string
        - name: decimal
          in: query
          description: Token status
          schema:
            type: integer
        - name: tier
          in: query
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Tier"
        - name: url
          in: query
          description: Token Creator URL
          schema:
            type: string
        - name: Temporarykey
          in: query
          required: true
          schema:
            type: string
          description: Temporary key for signing - using only transfer, not recording
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for data.
            - ex) ecdsa_sign(privatekey of owner address, owner +'|'+ symbol +'|'+ token +'|'+name+'|'+url +'|'+Temporarykey)
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                type: string
        "412":
          description: token save error

  /token/{tkey}:
    post:
      tags:
        - Token
      summary: Token create
      parameters:
        - name: tkey
          in: path
          description: Temporary key for Sign(return value of GET /getkey/token/`owner`)
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat token.owner, token.name, tkey
            - ex) ecdsa_sign(token owner's privatekey, token.owner + '|' + token.name + '|' + tkey)
      responses:
        "200":
          description: successful create token.
        "400":
          description: token create error.

  /token/burn/{tkey}:
    put:
      tags:
        - Token
      summary: Token descriments
      description: |
        Decrements tokens by quantity

        The amount burned will be deducted from the token owner's wallet.
      parameters:
        - name: tkey
          in: path
          required: true
          description: Temporary key for Sign(return value of GET /getkey/token/{tokwn owner})
          schema:
            type: string
            format: int32
        - name: token
          in: query
          required: true
          description: Token ID
          schema:
            type: string
            format: integer
        - name: amount
          in: query
          required: true
          description: Token burning amount
          schema:
            type: string
            format: integer
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat Address of Token owner, token, tkey
            - ex) ecdsa_sign(token owner's privatekey, Token ID + '|' + amount + '|' + tkey)
      responses:
        "200":
          description: successful operation
        "404":
          description: Token not found

  /token/increase/{tkey}:
    put:
      tags:
        - Token
      summary: Token increments
      description: |
        Increments tokens by quantity

        The increased amount is added to the token owner's wallet.
      parameters:
        - name: tkey
          in: path
          description: Temporary key for Sign(return value of GET /getkey/token/{tokwn owner})
          required: true
          schema:
            type: string
            format: int32
        - name: token
          in: query
          required: true
          schema:
            type: string
            format: integer
          description: Token ID
        - name: amount
          in: query
          required: true
          schema:
            type: string
            format: integer
          description: |
            Token increased amount
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat Address of Token owner, token, tkey
            - ex) ecdsa_sign(token owner's privatekey, Token ID + '|' + amount + '|' + tkey)
      responses:
        "200":
          description: successful operation
        "404":
          description: Token not found

  /token/update/{tkey}:
    put:
      tags:
        - Token
      summary: Token information update
      parameters:
        - name: tkey
          in: path
          description: Temporary key for Sign(return value of GET /getkey/token/{tokwn owner})
          required: true
          schema:
            type: string
        - name: url
          in: query
          description: Token Creator URL
          required: true
          schema:
            type: string
        - name: info
          in: query
          description: Token Info
          required: true
          schema:
            type: string
        - name: image
          in: query
          description: Token Image
          required: true
          schema:
            type: string
            format: https://tools.ietf.org/html/rfc2397
        - name: signature
          in: query
          required: true
          schema:
            type: string
            format: base64
          description: |
            - ECDSA sign for concat Address of Token owner, token, tkey
            - ex) ecdsa_sign(token owner's privatekey, Token ID + '|' + url + '|' + info + '|' + image + '|' + tkey)
      responses:
        "200":
          description: successful create token.
        "400":
          description: token update error.
  /token/dex/{mrc010dexid}:
    get:
      tags:
        - Token
      summary: Get information of MRC010 DEX
      parameters:
        - name: mrc010dexid
          in: path
          description: MRC010 DEX ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/MRC010DEX"
        "404":
          description: MRC010 DEX not found

[...]
